body {
    font-family: "Lato";
    font-size: 13px;
}

.big_text {
    font-size: 1.5em;
}

#sketch {
    display: block;
    position: relative;
    width: 500px;
    margin-top: 0px;
    margin-right:0px;
    margin-left:0px;
    height: auto;
}