<!-- Home page -->
<!DOCTYPE html>
<html>
    <head>
        <title>Decibel Level Monitor</title>
        <link rel="stylesheet" href="home.css">
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- Profile -->
        <div class="large_txt">Profile</div>
        <br>
        <!-- Person, a nice picture, a description of them -->
        <div id="profile">
            <img src="person.jpg">
            <div class="side">
                <b>Sample Person 1</b>
                <br>
                Computer Science Teacher at <u>Keystone School</u>
            </div>
        </div>
        <br>

        <div class="large_txt">My Classes</div>
        <!-- List of classes: some debugging stuff -->
        <!-- <div th:text="${classList}"></div> -->
        <table class="class_list">
            <tr>
                <th>Class Name</th>
                <th>Start</th>
                <th>End</th>
            </tr>
            <tr th:each="class : ${classList}">
                <td th:text="${class.className}">Class</td>
                <td th:text="${class.start}">Start</td>
                <td th:text="${class.end}">End</td>
            </tr>
            <!-- Sample: <tr>
                <td>Algebra 1</td>
                <td>8:30 - 9:15 <span class="x">x</span></td>
            </tr>
            <tr>
                <td>AP CS</td>
                <td>9:30 - 10:15 <span class="x">x</span></td>
            </tr> -->
            <tr id="add_class_inp">
                <td>
                    <input class="class_name">
                </td>
                <td>
                    <input type="time" class="t1"> to <input type="time" class="t2">
                </td>
            </tr>
        </table>
        <button id="add_class">Add Class</button>
        
        <script src="home.js"></script>
    </body>
</html>